<h1>Create new deal</h1>
 <form method="post" action="/deals"><!-- changed deal to deals -->

   <label for="name-of-deal">Deal Name:</label>
   <input id="name-of-deal" type="text" name="name">

   <label for="price-mod-select">Discount:</label>
   <select id="price-mod-select" name="price_mod">
     <% @deals.each do |deal| %>
       <option value=<%= deal.price_mod %>><%= deal.price_mod%></option>
     <% end %>
   </select>

   <label for="ship-select">Ship:</label>
   <select id="ship-select" name="ship_id">
     <% @ships.each do |ship| %>
       <option value=<%= ship.id %>><%= ship.name.capitalize%></option>
     <% end %>
   </select>
   <select id="day-select" name="day_id">
     <% @days.each do |day| %>
       <option value=<%= day.id %>><%= day.name.capitalize%></option>
     <% end %>
   </select>

   <input type="submit" value="Submit New Deal">
 </form>
